body {
  background: #20cefa url('../images/background.png');
}

nav {
  text-align: center;
  background: #7C334F;
  padding: 10px;
}

nav a, nav a:hover{
  color: white;
}

nav a:before {
  content: " | ";
}

nav a:first-child:before {
  content: "";
}


