love-game {
    position: relative;
    background: #000;
    margin-inline: auto;
    color: #FFF;

    /* the canvas *must not* have any border or padding, or mouse coords will be wrong */
    & canvas {
        padding: 0;
        border: none;
        display: block;
        background: #000;
        height: min(100dvh, 672px);
        max-width: 100%;
    }

    &:has(noscript) {
        & canvas {
            width: min(100dvw, 1056px);
        }
    }

    & form,
    & noscript {
        width: 100%;
        height: 100%;
    }

    & form {
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 2rem;

        & input[type="submit"] {
            cursor: pointer;
            width: 200px;
            height: 110px;
            border: none;
            background: #FFF;
            font-size: 2rem;
            text-transform: uppercase;
            color: #000;
            transition: 0.125s ease-in-out scale;

            &:hover {
                scale: 1.2;
            }
        }
    }

    & noscript {
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        font-size: 2rem;
        padding: 2rem;
    }
}
